<%- include("partials/header.ejs") %>
<h1>Welcome to My Portfolio 📝</h1>

<div class="home-section-one">
    <a href="/personal-projects" class="section-image-left">
        <img src="/images/personal-projects.jpg" alt="Personal Projects" class="section-image">
    </a>
    <h2 class="section-heading-right">Personal Projects</h2>
    <p class="section-text-right">
        These are some of the personal projects I have completed. The main goal for making them was to learn new concepts, and improve skills I already knew. 
        I built each of these to try to become a better developer. I will keep adding to this list as I complete my projects, to try and strengthen different skills with each project.
    </p>
</div>

<div class="home-section-two">
    <a href="/professional-projects" class="section-image-right">
        <img src="/images/professional-projects.jpg" alt="Professional Projects" class="section-image">
    </a>
    <h2 class="section-heading-left">Professional Projects</h2>
    <p class="section-text-left">
        Here are some of my professional projects that demonstrate my expertise and experience. The main goal for making them was to learn new concepts, and improve skills I already knew. 
        I built each of these to try to become a better developer. I will keep adding to this list as I complete my projects, to try and strengthen different skills with each project.
    </p>
</div>

<div class="home-section-one">
    <a href="/about" class="section-image-left">
        <img src="/images/about-me.JPEG" alt="About Me" class="section-image">
    </a>
    <h2 class="section-heading-right">About Me</h2>
    <p class="section-text-right">
        This section will let you know a little bit more about me. It includes the background as to why I chose Computer Science, what are some of my future goals I want to achieve,
        and many of the things that I consider special in my life. It includes some of the things that I really like to do, places I have been to and loved, and a few fun facts about me!
    </p>
</div>

<div class="home-section-two">
    <a href="/contact" class="section-image-right">
        <img src="/images/contact-me.jpg" alt="Contact Me" class="section-image">
    </a>
    <h2 class="section-heading-left">Contact Me</h2>
    <p class="section-text-left">
        If you would like to get in touch with me, this is the section to do so! Whether you have any questions about my projects, want to discuss potential collaborations, or just want to say hi,
        feel free to reach out through the contact form provided. I look forward to hearing from you!
    </p>
</div>