<%- include("partials/header.ejs") %>
<h1>My Personal Projects</h1>

<div class="project-container-one">
    <h2 class="project-title-left">Build Your Own Shell</h2>
    <p class="project-description-left">
        In this project, I created my own Shell using Java. The Shell is what allows programmers to interact directly with the computer's operating system. The project idea came from the codecrafters website, 
        which is a platform that has multiple different challenges for programmers to learn and solve. I worked on this project because I wanted to get better at programming in Java, and it also helped me to 
        understand the process that happens when a user/programmer types commands into the terminal.
    </p>
    <h3 class="skills-title">Developed Skills:</h3>
    <ul class="skills-list">
        <li>Java Programming</li>
        <li>Command Line logic and operation</li>
        <li>REPL (Read-Eval-Print Loop)</li>
    </ul>
    <a class="section-image-link-left">
        <img src="/videos/shell-video.gif" alt="Shell Project Video" class="section-image-left section-image">
    </a>
</div>

<div class="project-container-two">
    <h2 class="project-title-right">Simon Says Game</h2>
    <p class="project-description-right">
        In this project, I created the simon says game using HTML, CSS, and JavaScript. It was a very fun project, as there was a lot of logic involved in making the game function propery. Doing this 100%
        without AI, using jQuery, I was able to create a fully function game. One of the highlights of the code is how the computer chooses and stores a button, and then checks each of the user input. To make 
        this logic work, I had the computer pick a random button each turn, and store it in its array. The current length of the array was the number of choices the player had to make that turn. Then, with each 
        choice of the player, the code compared that with the current index of the computer's array. If it was correct, it increases the index. If not, game over, and no more choices will be evaluated. Here is 
        the link for the github repo of the project: <a href="https://github.com/LucasFCustodio/Simon_Game.git">👉 CLICK ME</a>
    </p>
    <h3 class="skills-title">Developed Skills:</h3>
    <ul class="skills-list">
        <li>HTML</li>
        <li>CSS</li>
        <li>JavaScript and jQuery Programming</li>
    </ul>
    <a class="section-image-link-right">
        <img src="/videos/simon-says-video.gif" alt="Shell Project Video" class="section-image-right section-image">
    </a>
</div>

<div class="project-container-one">
    <h2 class="project-title-left">ShellHacks - FrankAI</h2>
    <p class="project-description-left">
        Shellhacks is Florida's largest hackathon, hosted by the University of Miami every year. It takes place in late Septemember, where studetns from all over have 36 hours to create a project 
        from scratch. In 2025, I, along with my friend and programmer Nate Castro, created FrankAI, an AI chatbot that helps students to take advantage of the income they make in the best way possible. 
        Integrating it with Gemini's AI, the chatbot helps students to spend their budget in a way that covers their expenses, while giving them the best plan for acquiring all they want to with what 
        they have to spend, whether that be a trip with friends over the weekend, or buying a new gadget. We say that FrankAI is frank with your budget! Here is the link for the github repo of the project:
        <a href="https://github.com/NathanaelCastro914/FRANK.git">👉 CLICK ME</a>
    </p>
    <h3 class="skills-title">Developed Skills:</h3>
    <ul class="skills-list">
        <li>AI implementation</li>
        <li>JavaScript and TypeScript</li>
        <li>Financial planning app</li>
    </ul>
    <a class="section-image-link-left">
        <video src="/videos/frankai-video.mp4" autoplay muted loop class="section-image-left" class=""></video>
    </a>
</div>

<div class="project-container-two">
    <h2 class="project-title-right">OneHope Hackathon - Bible Bash</h2>
    <p class="project-description-right">
        In this project, me along with a talented team of 4 other people worked on making a 2v2 MOBA game, that used characters of the Bible as playable characters. I was the one to take charge of the 
        programming, and we had a bit under 12 hours to work on this project. The game was programmed in the GameMaker Language (GML), a language made specifically for developing 2D games. I had learned the 
        language less than 1 month before this project for a different gaming project, being able to pick up the language very quickly, based on prior experiences with similar languages. The core mechanics I 
        implemented included the movement, projectile motion and interaction with other players, and the health, damage, and elimination logistic. It was a really fun project to work on, and given the short
        time limit, it really put my abilities and level-headedness to the test.</thead> <a href="https://github.com/LucasFCustodio/Simon_Game.git">👉 CLICK ME</a>
    </p>
    <h3 class="skills-title">Developed Skills:</h3>
    <ul class="skills-list">
        <li>GML (GameMaker Language)</li>
        <li>Object-Oriented Programming</li>
        <li>2D Game Development</li>
    </ul>
    <a class="section-image-link-right">
        <img src="/videos/Bible-bash-video.gif" alt="Shell Project Video" class="section-image-right section-image">
    </a>
</div>