<%- include("partials/header.ejs") %>
<h1>My Professional Projects</h1>

<div class="project-container-one">
    <h2 class="project-title-left">The Brooklyn Cafe Show Website</h2>
    <p class="project-description-left">
        This project was from my first internship. I worked as a Web Developer for the local Boca Raton Company, The Brooklyn Cafe Show. The project was to do a makeover of their show's website. Me and my 
        web developer partner worked together to create a new and vibrant website that reflected the high energy of the studio, and that could inform viewers and potential partners of all the great content 
        they could enjoy and participate in by being a part of the show and the community. The Website was developed using the Divi Plugin in WordPress. It was a great learning experience for me being my 
        first intership, and it allowed me to learn the building blocks of developing websites, which helped me get to where I am now, which is in a much more developed and advanced place in web development. 
        The website has been updated by someone else ever since I left, although a few things remain the same. The project link is here: <a href="https://www.brooklyncafe.tv">👉 CLICK ME</a> 
    </p>
    <h3 class="skills-title">Developed Skills:</h3>
    <ul class="skills-list">
        <li>WordPress web development</li>
        <li>Divi Plugin</li>
        <li>Page Designing</li>
    </ul>
    <a class="section-image-link-left">
        <img src="/images/brooklyn-cafe-home-page.png" alt="Brooklyn Cafe Website" class="section-image-left section-image">
    </a>
</div>

<div class="project-container-two">
    <h2 class="project-title-right">Purpose Academy Website</h2>
    <p class="project-description-right">
        This project was from my summer internship at OneHope, which was my second internship. The website needed to be migrated to WordPress from their, at the time, current website builder. That was what 
        I was tasked with. I rebuilt the website in WordPress, using the elementor plugin. The website included a total of 15 pages. Throughout the design process, there were some small visuals changes that 
        I made, as well as some performance changes to make sure the website would load faster, and to make sure there were no file sizes that were too large, which would decrease site performanceI developed 
        this site much faster then the site from my first internship, which showed my continued growth in the web development field. The project link is here <a href="https://purposeacademy.site">👉 CLICK ME</a>
    </p>
    <h3 class="skills-title">Developed Skills:</h3>
    <ul class="skills-list">
        <li>WordPress</li>
        <li>Elementor Plugin</li>
        <li>Basic SEO</li>
    </ul>
    <a class="section-image-link-right">
        <img src="/videos/purpose-academy-video2.gif" alt="Purpose Academy Website Video" class="section-image-right section-image">
    </a>
</div>

<div class="project-container-one">
    <h2 class="project-title-left">Rob Hoskins Website - OneHope</h2>
    <p class="project-description-left">
        Again for my OneHope Internship, this project was one that required me to learn new skills more heavily. I did not design a new website, but rather, I focused on learning many things that make 
        the already existing website stronger for SEO purposes. The website in hand is Rob Hoskins', the CEO of OneHope. I worked on improving the SEO of the website to increase its visibility on search 
        engines. There were various things making its SEO much lower than it could be. These included many non-existant pages being linked to inside the website, broken links, countless redirects, large 
        file sizes, unecessary tags that created multiple copies of the same page, and more. I worked on learnign how to fix all of these issues, and then implemented the changes. Along the process, I also 
        learned how to optmize a page for reaching your target audience, in order to make visibility better. The project link is here: <a href="https://robhoskins.onehope.net/">👉 CLICK ME</a>
    </p>
    <h3 class="skills-title">Developed Skills:</h3>
    <ul class="skills-list">
        <li>Advanced SEO</li>
        <li>Page Optimization</li>
    </ul>
    <a class="section-image-link-left">
        <img src="/images/Rob-Hoskins-website.jpg" alt="Rob Hoskins Website" class="section-image-left section-image">
    </a>
</div>