<%- include("partials/header.ejs") %>
<h1>Information Submitted</h1>
<div id="submission-container">
    <p id="submitted-text">
        Thank you so much for your submission, <%= name %>! I appreciate your interest in my work, and I 
        will get back to you very quickly. I hope we can do business together soon!
    </p>
    <a href="/" class="btn">Go Home</a>
</div>
