#food-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

#food-pictures-container {
    display: flex;
    gap: 10%;
    justify-content: center;
}

.about-image {
    width: 20%;
    border-color: black;
    border-width: 3px;
}