h1 {
    text-align: center;
    font-size: 3rem;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 0px;
}

h2 {
    font-size: 2.7rem;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}

h3 {
    font-size: 2.2rem;
    font-family: "Great Vibes", cursive;
    font-weight: 400;
    font-style: normal;
}

p {
    font-size: 1.4rem;
    font-family: "Oswald", sans-serif;
    line-height: 1.8;
}

li {
    font-size: 1.2rem;
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #f00f19;
}

#submission-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn {
  display: inline-block;
  padding: 10px 16px;
  background-color: #f00f19;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 1.6rem;
  font-family: "Oswald", sans-serif;
  margin-top: 40px
}

#submitted-text {
    text-align: center;
    font-size: 1.6rem;
    font-family: "Oswald", sans-serif;
}

#header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 2%;
    height: 8vh;
}

.header-item {
    color: black;
    text-decoration: none;
    flex-basis: 200px;
    text-align: center;
    font-size: 1.7rem;
    font-family: "Oswald", sans-serif;
}

#logo {
    display: inline;
    color: black;
    font-size: 1.7rem;
    font-family: "Oswald", sans-serif;
}

.home-section-one {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 4fr;
    gap: 6%;
    margin: 40px 100px 40px 100px;
}

.home-section-two {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 4fr;
    gap: 6%;
    margin: 40px 100px 40px 100px;
}

.section-image-left {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.section-image{
    width: 100%;
    object-fit: cover;
    border-width: 2px;
    border-style: solid;
    border-color: #000000;
}

.section-image:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.section-image-right {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
}

.section-heading-right {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.section-heading-left {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.section-text-right {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.section-text-left {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}